<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CreatingKanbanSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Local Data Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="remotedata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Remote data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swimlane">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Swimlane
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wipcolumn">
                <span class="oi oi-list-rich" aria-hidden="true"></span> WIP Column
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wipswimlane">
                <span class="oi oi-list-rich" aria-hidden="true"></span> WIP Swimlane
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="toggle-column">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Toggle Column
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sorting-cards">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sorting Cards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="column-template">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Column Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swimlane-template">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Swimlane Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="card-template">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Card Template
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stacked-header">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stacked Header
            </NavLink>
        </li>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
